.login-section{
    widows: 100%; height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)) , url('./images/food1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
	animation: imagechange 20s infinite linear ;
}
@keyframes imagechange{
	0%{background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)) , url('./images/products/Ayam-percik.jpg');}
	20%{background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)) , url('./images/products/Ikan bakar.jpg');}
	60%{background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)) , url('./images/products/Kaya toast.jpg');}
	80%{background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)) , url('./images/products/Kuih.jpg');}
	100%{background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)) , url('./images/products/Laksa.jpg');}
}


.change_content:after{
	content:'';
	color:white;
	animation: changetext 15s infinite linear;
}

@keyframes changetext{
	0%{content: "We are a unique platform for your tastiest food ever.";}
	20%{content: "Delicious meals can be consumed continuously and daily.";}
	35%{content: "The secret path to someone's heart is through his stomach.";}
	60%{content: "Food is nutrition Food is history Food is right and food is life.";}
	80%{content: "Food is always tasty when it has the ingredient of love in it.";}
	100%{content: "Don't waste food it might be a one-time meal for someone.";}
}


.card-text{
    font-size: large;
    font-weight: bold;
}


#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 1;
	font-size: 18px;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #myBtn:hover {
	background-color: #555;
  }